@font-face {
    font-family:Poppins-Black;
    src: url(Poppins-Black.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-image: url(2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100 vh;
}
.banner-area h2{
    position: absolute;
    top: 50%;
    left: 50%
    transform: translate(-50%,-50%);
    with: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family:Poppins-Black;
    color: black;
    font-size: 4.5em;
}
.banner-area h2 span{
    color: red;
    font-family:Poppins-Black;
}
